/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 Jun, 2021, 4:51:36 PM
    Author     : Jayesh Karia
*/



/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-Jun-2021, 3:33:22 pm
    Author     : Jayesh Karia
*/

.vbox{
   -fx-background-color: #2196f3; 
}

.hbox-b{
    
    -fx-border-style: solid hidden solid hidden;
    -fx-border-width: 0.5;
    -fx-border-color:  #f4f4f4;     
}

.right_chevron {
    -fx-background-image: url("./chevron.png");
    -fx-background-color: transparent;
    
}


